<!DOCTYPE html>
<html>
<form action=/ method="get">
  <input id=@search name=search placeholder='What are you looking for?' class='form-control' />
</form>
<br>


<!--Grid container-->
<div class="grid-container">
  <div class="box-container">
    <% @products.each do |pr| %>
      <% if pr.primary_image.attached? %>


        <!--Card-->
        <div class="product">
          <div class="imgbox">
            <%= link_to image_tag(pr.primary_image, height: 'auto' , width: 'auto' ), admins_product_path(pr) %>
          </div>
          <%end%>
            <div class="specifies">
              <h2>
                <%=pr.title %>
              </h2>
              <% pr.categories.each do |category| %>

                <a href="/categories" class="badge badge-pill badge-light"
                  style="font-size: 10px; color: #b1b1b1; font-weight: normal">
                  <%=category.name%>
                </a>
                <%end%>
                  <div class="shop-this">
                    <br>
                    <%= link_to "SHOP THIS >" , admins_product_path(pr), class: 'shop-this'%>
                    <br>
                    <%= link_to 'BUY NOW', orders_new_path(:id => pr.id), class: "btn cart px-auto" %>
                  </div>
            </div>
            <!--specifies-->
        </div>
        <!--product-->

        <% end %>

  </div>
  <div class="page">
    <br>
    <%= paginate @products %>
  </div>
  <!--page-->
</div>
<!--Grid container-->







</html>